@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}
@font-face {
  font-family: "Inter";
  src: url("/font/web/InterDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/font/web/InterDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter";
}
